@media (max-width: 640px) {
  .center {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    height: 384px;
    padding-bottom: 90px;
    background-image: url(../image/mountains-mob.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  .top-logo {
    width: 161px;
  }

  .stick {
    top: 38px;
  }

  .top-text {
    display: none;
  }

  .header-order {
    display: none;
  }

  .header-order-mob {
    display: block;
    width: 300px;
    height: 40px;
    display: flex;
  }

  .man {
    width: 155px;
    height: 81px;
    left: -200px;
    top: 150px;
  }
  .plane {
    width: 78px;
    height: 67px;
    left: 30px;
    top: 0px;
  }

  .head-low {
    background-color: #009ee4;
    height: 183px;
    margin-top: -53px;
    padding: 22px 10px;
  }

  .head-low-figures {
    display: flex;
    column-gap: 50px;
  }

  .head-pre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 48px;
    row-gap: 15px;
  }

  .big {
    background: #fff7c7 url(../image/big-mob_bg.png);
    background-repeat: no-repeat;
    background-position: center 300px;
    padding-top: 45px;
    background-size: contain;
  }

  .heading {
    font-size: 32px;
    line-height: 34px;
  }

  .heading-top {
    margin-bottom: 50px;
  }

  .heading-big-text {
    font-size: 22px;
    line-height: 24px;
    margin-top: 9px;
    max-width: 298px;
  }

  .top-game {
    background: none;
    top: 220px;
    left: 232px;
    position: absolute;
  }

  .level {
    flex-direction: column-reverse;
    padding-bottom: 44px;
    gap: 16px;
  }

  .hero {
    border-radius: 4px;
    max-width: 294px;
    margin: 0 auto;
  }

  .level-text {
    max-width: 299px;
  }

  .heading-level {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .level-description {
    font-size: 18px;
    line-height: 24px;
  }

  .level-add {
    justify-content: flex-end;
    flex-direction: column;
  }

  .level-spaceman {
    padding-bottom: 35px;
  }

  .heading-boy {
    line-height: 70px;
  }

  .learning-block {
    flex-direction: column-reverse;
  }

  .remark {
    background: url(../image/remark-mob.png);
    background-repeat: no-repeat;
    width: 127px;
    height: 40px;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.02px;
    padding-top: 10px;
    left: 165px;
    top: 10px;
  }

  .learning-list {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .learning-li {
    height: 14px;
    width: 14px;
    line-height: 14px;
    top: -2px;
    left: -7px;
    color: #ffffff;
  }

  .learning-list-desc {
    display: none;
  }

  .learning-list-mob {
    display: block;
  }

  .why {
    padding-bottom: 46px;
  }

  .why-heading {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 28px;
  }

  .why-row {
    flex-direction: column;
  }

  .playing {
    padding-top: 41px;
    padding-bottom: 52px;
  }

  .playing-heading {
    margin-bottom: 2px;
  }

  .playing-group {
    flex-direction: column;
    gap: 5px;
  }

  .playing-flex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "playing-heading"
      "playing-text"
      "images";
  }

  .playing-heading-child {
    padding-top: 18px;
    padding-bottom: 40px;
  }

  .playing-text {
    max-width: 382px;
  }

  .green-boy {
    top: 0px;
    left: 100px;
  }

  .purple-boy {
    z-index: 1;
    left: -15px;
    top: 25px;
  }

  .red-girl {
    top: 50px;
    left: 70px;
  }

  .green-girl {
    top: 30px;
    left: 220px;
  }

  .heading-teach {
    margin-top: 35px;
  }

  .teach-blocks {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .laptop {
    position: absolute;
    left: 100px;
    top: 200px;
  }

  .teach3 {
    z-index: 3;
  }

  .heading-how {
    margin-bottom: 30px;
  }

  .how-str {
    margin-bottom: 32px;
    column-gap: 39px;
  }

  .how-heading {
    font-size: 18px;
    width: 109px;
  }

  .how-time {
    font-size: 18px;
    line-height: 17px;
    width: 140px;
  }

  .how-often {
    font-size: 14px;
    line-height: 15px;
  }

  .how-description {
    font-size: 14px;
    line-height: 18px;
    width: 294px;
  }

  .how-graduation {
    font-size: 14px;
    line-height: 18px;
    max-width: 294px;
  }

  .how-graduation span {
    color: #000000;
  }

  .smile {
    left: 20px;
  }

  .rocket {
    right: 20px;
    left: initial;
    bottom: -40px;
  }

  .pay {
    padding-top: 38px;
    padding-bottom: 31px;
  }

  .heading-pay {
    margin-bottom: 26px;
    max-width: 298px;
  }

  .pricler {
    gap: 17px;
    flex-direction: column;
    align-items: center;
  }

  .pay-block {
    width: 298px;
    height: 219px;
    display: flex;
    flex-direction: column;
    padding: 21px 18px;
    row-gap: 7px;
  }

  .pay-text {
    line-height: 28px;
    letter-spacing: 0.2px;
  }

  .pay-pay {
    font-size: 18px;
    line-height: 28px;
  }

  .till {
    font-size: 24px;
    line-height: 28px;
  }

  .paid-delay {
    font-size: 14px;
  }

  .rest {
    padding-top: 28px;
    background: #fff7c7;
  }

  .rest-frame {
    background: #00c1ff;
    width: 300px;
    padding: 19px 17px 6px 18px;
    flex-direction: column;
    margin: 0 auto;
  }

  .learning-list-rest {
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .man-footer {
    display: none;
  }

  .form-item {
    width: 265px;
    height: 36px;
    border-radius: 5px;
    padding: 7px 20px 8px 11px;
    font-size: 16px;
    line-height: 21px;
  }

  .form-item::placeholder {
    font-size: 16px;
    line-height: 21px;
  }

  .form-item-top {
    width: 127px;
  }

  .select select {
    width: 265px;
    height: 36px;
    padding-left: 11px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 21px;
    border-radius: 5px;
  }

  .select::after {
    margin-top: -3px;
  }

  .order {
    width: 264px;
    height: 39px;
    background-color: #ff64b0;
  }

  .footer {
    padding-top: 31px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-text {
    align-items: flex-start;
    row-gap: 3px;
  }

  .logo-mob {
    width: 141px;
  }

  .palm {
    display: none;
  }

  .hand-footer,
  .copyright {
    font-size: 9px;
    line-height: 9px;
  }

  .attractive {
    justify-content: flex-start;
  }
}
