* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("../fonts/StratosSkyeng.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4 {
  font-family: "StratosSkyeng";
  font-weight: 500;
}

body {
  font-family: "StratosSkyeng", sans-serif;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 603px);
  padding-right: calc(50% - 603px);
}

.header {
  padding-top: 14px;
  height: 689px;
  padding-bottom: 150px;
  background-color: #e4fbff;
  background-image: url(../image/mountains.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.topmenu {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.topmenu a {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.05px;
  display: block;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startlearn {
  width: 171px;
  height: 36px;
  color: #ffffff !important;
  background: #ff64b0;
  border-radius: 6px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title {
  font-size: 84px;
  line-height: 84px;
  letter-spacing: -0.8px;
  margin-top: 76px;
  margin-bottom: 60px;
}

.stick {
  position: absolute;
  top: 70px;
}

.top-text {
  font-size: 32px;
  line-height: 38px;
  display: block;
  max-width: 478px;
  color: #04121b;
}

.header-right {
  position: relative;
  display: flex;
  flex-direction: row;
}

.man {
  width: 278px;
  height: 145px;
  position: absolute;
  left: 160px;
  top: 70px;
  border-radius: 0 135px 0 0;
}

.plane {
  display: block;
  width: 186px;
  height: 150px;
  position: absolute;
  left: 600px;
}

.header-order {
  width: 260px;
  height: 60px;
  color: #ffffff !important;
  background: #ff64b0;
  border-radius: 6px;
  margin-top: 32px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.05px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-order-mob {
  display: none;
}

.head-low {
  height: 122px;
  color: #ffffff;
  background-color: #00c1ff;
  margin-top: -140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 67px;
       column-gap: 67px;
  align-items: center;
}

.head-low-figures {
  display: flex;
  -moz-column-gap: 67px;
       column-gap: 67px;
}

.head-pre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 68px;
       column-gap: 68px;
}

.head-low-block {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}

.age-tab {
  display: none;
}

.figures {
  font-size: 64px;
  line-height: 38px;
}

.head-low-text {
  font-size: 32px;
  line-height: 32px;
}

.big {
  background: #fff7c7 url(../image/big_bg.png);
  background-repeat: no-repeat;
  background-position: center 320px;
  padding-top: 85px;
  background-size: contain;
}

.heading {
  font-size: 64px;
  line-height: 70px;
}

.heading-top {
  margin-bottom: 100px;
  position: relative;
}

.heading-big-text {
  font-size: 44px;
  line-height: 46px;
  color: #828282;
  margin-top: 54px;
  max-width: 859px;
}

.top-game {
  background: url(../image/game-bg.png);
  background-repeat: no-repeat;
  background-position: 20px 35px;
  position: absolute;
  left: 1000px;
  top: 150px;
}

.level {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 100px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.level-add {
  justify-content: flex-end;
}

.level-text {
  max-width: 360px;
  position: relative;
}

.hero {
  border-radius: 12px;
  max-width: 659px;
}

.heading-level {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.1px;
  margin-bottom: 32px;
}

.level-description {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.1px;
  color: #828282;
}

.computer {
  background: url(../image/computer-bg.png);
  background-repeat: no-repeat;
  background-position: 18px 15px;
  position: absolute;
}

.learning {
  background: #fff7c7;
}

.heading-boy {
  line-height: 70px;
}

.learning-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 95px;
       column-gap: 95px;
}

.boy {
  display: block;
}

.boy-remark {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.remark {
  background: url(../image/remark.png);
  background-repeat: no-repeat;
  width: 276px;
  height: 87px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.05px;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  position: absolute;
  left: 360px;
  top: 50px;
  box-sizing: border-box;
}

.learning-list {
  margin-top: 60px;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.1px;
  counter-reset: li;
  list-style: none;
}

.learning-li {
  background-color: #00c1ff;
  border-radius: 50%;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  position: relative;
  top: -7px;
  left: -14px;
  color: #ffffff;
}

.learning-list li {
  padding-bottom: 18px;
}

.learning-list-mob {
  display: none;
}

.why {
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: #e4fbff;
}

.why-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.why-block {
  margin-top: 54px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: flex-start;
}

.why-block-text {
  max-width: 355px;
}

.why-heading {
  margin-bottom: 12px;
}

.why-text {
  font-size: 24px;
  line-height: 32px;
}

.headshake {
  background: url(../image/handshake-bg.png);
  background-repeat: no-repeat;
  background-position: 0px 25px;
  width: 170px;
}

.book {
  background: url(../image/book-bg.png);
  background-repeat: no-repeat;
  background-position: 30px 20px;
  width: 170px;
}

.diagramma {
  background: url(../image/diagramma-bg.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  width: 170px;
}

.muscle {
  background: url(../image/muscle-bg.png);
  background-repeat: no-repeat;
  background-position: 8px 13px;
  width: 170px;
}

.playing {
  background: #fff7c7;
  padding-top: 85px;
  padding-bottom: 175px;
  position: relative;
}

.playing-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-bottom: 90px;
  position: relative;
}

.playing-heading {
  max-width: 468px;
  margin-bottom: 40px;
}

.playing-group {
  display: flex;
  flex-direction: column;
  max-width: 567px;
}

.level-right-text {
  max-width: 468px;
}

.level-description-text {
  max-width: 468px;
}

.red-girl,
.purple-boy,
.green-girl {
  display: block;
  position: relative;
}

.playing-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.playing-flex {
  display: grid;
  grid-template-columns: 558px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "images images" "playing-heading  playing-heading" "playing-text  playing-text";
}

.playing-img {
  position: relative;
  grid-area: images;
}

.green-boy {
  top: -43px;
  left: 120px;
  position: absolute;
}

.purple-boy {
  z-index: 1;
  left: -35px;
}

.red-girl {
  top: 95px;
  left: 70px;
  position: absolute;
}

.green-girl {
  top: 0px;
  left: 240px;
  position: absolute;
}

.playing-heading-child {
  padding-top: 120px;
  grid-area: playing-heading;
}

.playing-text {
  grid-area: playing-text;
}

.heading-teach {
  margin-bottom: 54px;
}

.teach-blocks {
  margin-left: 85px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.teach-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}

.teach-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -30px;
}

.teach1,
.teach2,
.teach3,
.teach4 {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.8px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
}

.teach1 {
  width: 480px;
  height: 188px;
  background: url(../image/teach1.png);
  background-repeat: no-repeat;
}

.teach1 span {
  transform: rotate(4deg);
  padding-left: 36px;
}

.teach2 {
  width: 421px;
  height: 174px;
  background: url(../image/teach2.png);
  background-repeat: no-repeat;
}

.teach2 span {
  transform: rotate(-5deg);
  padding-left: 36px;
}

.teach3 {
  width: 426px;
  height: 240px;
  background: url(../image/teach3.png);
  background-repeat: no-repeat;
}

.teach3 span {
  transform: rotate(-15deg);
  padding-left: 36px;
}

.teach4 {
  z-index: 3;
  width: 444px;
  height: 169px;
  background: url(../image/teach4.png);
  background-repeat: no-repeat;
  left: 50px;
}

.teach4 span {
  transform: rotate(-4deg);
  padding-left: 36px;
}

.block1 {
  display: block;
  position: absolute;
}

.block2 {
  margin-left: 600px;
  margin-top: -160px;
  display: block;
  position: absolute;
}

.block3 {
  margin-left: 50px;
  margin-top: 100px;
  display: block;
  position: absolute;
}

.block4 {
  margin-left: 600px;
  margin-top: -120px;
  display: block;
  position: absolute;
  z-index: 3;
}

.laptop {
  left: 400px;
  top: 160px;
  position: absolute;
  z-index: 2;
}

.smile {
  position: absolute;
  right: 90px;
  top: -50px;
}

.how {
  background-color: #e4fbff;
  padding-top: 58px;
  padding-bottom: 87px;
  position: relative;
}

.heading-how {
  margin-bottom: 94px;
  letter-spacing: -0.1px;
}

.how-str {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: space-between;
  margin-bottom: 58px;
}

.how-heading {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.1px;
  max-width: 250px;
}

.how-time {
  color: #00c1ff;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.1px;
}

.how-often {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.1px;
}

.how-description {
  max-width: 453px;
  color: #04121b;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.1px;
}

.how-grade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 190px;
       column-gap: 190px;
}

.how-graduation {
  font-size: 56px;
  max-width: 754px;
}

.how-graduation span {
  color: #00c1ff;
}

.rocket {
  left: 118px;
  bottom: -50px;
  display: block;
  position: absolute;
}

.pay {
  padding-top: 88px;
  background: #fff7c7;
}

.heading-pay {
  margin-bottom: 73px;
}

.pay-date {
  display: none;
}

.pricler {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 41px;
}

.pay-block {
  background-color: #ffffff;
  width: 561px;
  height: 177px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

.pay-text {
  max-width: 328px;
  line-height: 33px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 23px;
}

.pay-pay {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.till {
  font-size: 40px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.paid-delay {
  color: #999999;
  font-size: 24px;
  line-height: 18px;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 2px;
}

.price {
  color: #009ee4;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.2px;
}

.for-course {
  font-size: 24px;
  line-height: 24px;
}

.rest {
  padding-top: 112px;
  background: #fff7c7;
}

.rest-frame {
  display: flex;
  justify-content: space-between;
}

.rest-questions {
  max-width: 622px;
  position: relative;
}

.learning-list-rest {
  margin-bottom: 46px;
}

.man-footer {
  display: block;
  position: absolute;
  left: 236px;
  top: 250px;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 32px;
  gap: 12px;
}

.child-parents {
  display: flex;
  justify-content: space-between;
}

.form-item {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 400px;
  height: 56px;
  border-radius: 8px;
  padding: 11px 13px 16px 13px;
  font-family: "StratosSkyeng", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.form-item::-moz-placeholder {
  color: rgba(4, 18, 27, 0.24);
  font-size: 24px;
  line-height: 32px;
}

.form-item::placeholder {
  color: rgba(4, 18, 27, 0.24);
  font-size: 24px;
  line-height: 32px;
}

.form-item-top {
  width: 192px;
}

.select {
  position: relative;
}

.select select {
  content: "";
  display: block;
  height: 56px;
  width: 400px;
  padding-left: 16px;
  padding-right: 30px;
  font-size: 24px;
  line-height: 32px;
  color: rgba(4, 18, 27, 0.48);
  background: #ffffff;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select::after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: -3px;
  background-image: url(../image/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 8px;
  color: #04121b;
}

.order {
  width: 398px;
  height: 60px;
  background-color: #ff64b0;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.05px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.warning {
  max-width: 395px;
  font-size: 14px;
  line-height: 18px;
}

.warning a {
  text-decoration: underline;
  color: #000000;
}

.footer {
  padding-top: 90px;
  background-color: #fff7c7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hand-footer {
  display: flex;
  flex-direction: row;
}

.hand-footer,
.copyright {
  color: rgba(4, 18, 27, 0.36);
  font-size: 14px;
  line-height: 14px;
  align-items: center;
}

.attractive {
  width: 400px;
}

@media (max-width: 1246px) {
  .center {
    padding-left: calc(50% - 310px);
    padding-right: calc(50% - 310px);
  }
  .header {
    height: 480px;
    padding-bottom: 90px;
    background-image: url(../image/mountains-tab.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .top-logo {
    width: 229px;
  }
  .topmenu {
    display: none;
  }
  .title {
    font-size: 47px;
    line-height: 47px;
    letter-spacing: -0.45px;
    margin-top: 35px;
    margin-bottom: 49px;
  }
  .stick {
    top: 42px;
  }
  .top-text {
    font-size: 24px;
    line-height: 32px;
    max-width: 300px;
  }
  .header-order {
    width: 186px;
    height: 36px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .man {
    width: 183px;
    height: 96px;
    left: -40px;
    top: 100px;
  }
  .plane {
    width: 95px;
    height: 82px;
    left: 220px;
    top: 0px;
  }
  .head-low {
    background-color: #009EE4;
    height: 71px;
    margin-top: -100px;
  }
  .head-low-block {
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
  .age-tab {
    display: block;
  }
  .age-desc {
    display: none;
  }
  .figures {
    font-size: 28px;
  }
  .head-low-text {
    font-size: 14px;
    line-height: 14px;
  }
  .big {
    background: #FFF7C7 url(../image/big-tab_bg.png);
    background-repeat: no-repeat;
    background-position: center 265px;
    padding-top: 56px;
    background-size: contain;
  }
  .heading {
    font-size: 44px;
    line-height: 46px;
  }
  .heading-top {
    margin-bottom: 50px;
  }
  .heading-big-text {
    font-size: 32px;
    line-height: 34px;
    margin-top: 6px;
    max-width: 460px;
  }
  .top-game {
    background: none;
    top: 155px;
    left: 500px;
    position: absolute;
  }
  .level {
    padding-bottom: 55px;
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
  .hero {
    border-radius: 5px;
    max-width: 372px;
  }
  .level-text {
    max-width: 218px;
  }
  .heading-level {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .level-description {
    font-size: 24px;
    line-height: 32px;
  }
  .computer {
    display: none;
  }
  .learning-block {
    -moz-column-gap: 57px;
         column-gap: 57px;
  }
  .heading-boy {
    line-height: 70px;
  }
  .remark {
    background: url(../image/remark-tab.png);
    background-repeat: no-repeat;
    width: 136px;
    height: 43px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.03px;
    padding-top: 12px;
    left: 170px;
    top: 20px;
  }
  .learning-list {
    font-size: 18px;
    line-height: 24px;
  }
  .learning-li {
    background-color: #009EE4;
    height: 18px;
    width: 18px;
    line-height: 18px;
    top: -3px;
  }
  .learning-list-desc {
    display: none;
  }
  .learning-list-mob {
    display: block;
  }
  .learning-list li {
    padding-bottom: 6px;
  }
  .why {
    padding-top: 44px;
    padding-bottom: 50px;
  }
  .why-block {
    margin-top: 7px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    flex-direction: column;
  }
  .why-block-text {
    max-width: 297px;
  }
  .why-text {
    font-size: 18px;
    line-height: 24px;
  }
  .headshake, .book, .diagramma, .muscle {
    background: none;
    width: 104px;
  }
  .playing {
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .playing-top {
    margin-bottom: 50px;
  }
  .playing-group {
    display: flex;
    flex-direction: row;
    max-width: 567px;
  }
  .level-description-text {
    max-width: 382px;
  }
  .playing-flex {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto auto;
    grid-template-areas: "playing-heading  playing-heading" "images playing-text";
  }
  .green-boy {
    top: 0px;
    left: 75px;
    position: absolute;
  }
  .purple-boy {
    z-index: 1;
    left: -15px;
    top: 25px;
  }
  .red-girl {
    top: 85px;
    left: 55px;
    position: absolute;
  }
  .green-girl {
    top: 30px;
    left: 155px;
    position: absolute;
  }
  .playing-heading {
    max-width: 567px;
  }
  .playing-text {
    max-width: 300px;
  }
  .playing-heading-child {
    padding-top: 32px;
  }
  .heading-teach {
    margin-bottom: 22px;
  }
  .teach-blocks {
    margin-left: 0px;
  }
  .teach-left {
    row-gap: 6px;
  }
  .teach1, .teach2, .teach3, .teach4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.47px;
    box-sizing: border-box;
  }
  .teach1 {
    width: 285px;
    height: 111px;
    background: url(../image/teach1-tab.png);
    background-repeat: no-repeat;
  }
  .teach1 span {
    padding-left: 21px;
  }
  .teach2 {
    width: 276px;
    height: 111px;
    background: url(../image/teach2-tab.png);
    background-repeat: no-repeat;
  }
  .teach2 span {
    padding-left: 21px;
  }
  .teach3 {
    width: 252px;
    height: 138px;
    background: url(../image/teach3-tab.png);
    background-repeat: no-repeat;
  }
  .teach3 span {
    padding-left: 21px;
  }
  .teach4 {
    z-index: 3;
    width: 260px;
    height: 100px;
    background: url(../image/teach4-tab.png);
    background-repeat: no-repeat;
    left: 20px;
  }
  .teach4 span {
    padding-left: 21px;
  }
  .laptop {
    left: 200px;
    top: 80px;
  }
  .how {
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
  }
  .heading-how {
    margin-bottom: 46px;
  }
  .how-str {
    -moz-column-gap: 0px;
         column-gap: 0px;
    margin-bottom: 29px;
  }
  .how-heading {
    font-size: 24px;
    max-width: 115px;
  }
  .how-time {
    color: #009EE4;
    font-size: 24px;
    line-height: 22px;
  }
  .how-often {
    font-size: 18px;
    line-height: 20px;
  }
  .how-description {
    max-width: 294px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .how-grade {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .how-graduation {
    font-size: 36px;
    max-width: 454px;
  }
  .how-graduation span {
    color: #009EE4;
  }
  .rocket {
    position: absolute;
    bottom: -70px;
  }
  .pay {
    padding-top: 82px;
    padding-bottom: 41px;
    background: #FFD89F;
  }
  .heading-pay {
    margin-bottom: 31px;
  }
  .pay-date {
    display: inline-block;
  }
  .pay-date-desc {
    display: none;
  }
  .pricler {
    gap: 16px;
  }
  .pay-block {
    width: 615px;
    height: 133px;
  }
  .pay-text {
    line-height: 24px;
    row-gap: 13px;
  }
  .till {
    font-size: 32px;
  }
  .paid-delay {
    font-size: 18px;
  }
  .prices {
    justify-content: flex-start;
  }
  .price {
    font-size: 32px;
  }
  .rest {
    padding-top: 35px;
    background: #FFF7C7;
  }
  .rest-frame {
    background: #009EE4;
    border-radius: 11px;
    width: 615px;
    padding: 22px 28px 8px 19px;
    box-sizing: border-box;
  }
  .rest-questions {
    max-width: 278px;
  }
  .heading-rest {
    color: #FFFFFF;
  }
  .learning-list-rest {
    color: #FFFFFF;
    margin-top: 22px;
  }
  .man-footer {
    left: 0px;
    top: 196.3px;
  }
  .form-box {
    margin-top: 0px;
    gap: 8px;
  }
  .form-item {
    width: 267px;
    height: 36px;
    border-radius: 5px;
    padding: 7px 11px 8px 11px;
    font-size: 16px;
    line-height: 21px;
  }
  .form-item::-moz-placeholder {
    color: rgba(4, 18, 27, 0.24);
    font-size: 16px;
    line-height: 21px;
  }
  .form-item::placeholder {
    color: rgba(4, 18, 27, 0.24);
    font-size: 16px;
    line-height: 21px;
  }
  .form-item-top {
    width: 129px;
  }
  .select select {
    width: 267px;
    height: 36px;
    padding-left: 11px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 21px;
    border-radius: 5px;
  }
  .select::after {
    margin-top: -3px;
    width: 11px;
    height: 5px;
  }
  .order {
    width: 267px;
    height: 39px;
    background-color: #FF9E00;
    border-radius: 7px;
  }
  .warning {
    max-width: 262px;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .warning a {
    color: #FFFFFF;
  }
  .footer {
    padding-top: 34px;
    padding-bottom: 29px;
  }
  .logo-tab {
    width: 226px;
  }
  .footer-text {
    flex-direction: column;
    align-items: flex-end;
  }
  .attractive {
    width: 250px;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 640px) {
  .center {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    height: 384px;
    padding-bottom: 90px;
    background-image: url(../image/mountains-mob.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .top-logo {
    width: 161px;
  }
  .stick {
    top: 38px;
  }
  .top-text {
    display: none;
  }
  .header-order {
    display: none;
  }
  .header-order-mob {
    display: block;
    width: 300px;
    height: 40px;
    display: flex;
  }
  .man {
    width: 155px;
    height: 81px;
    left: -200px;
    top: 150px;
  }
  .plane {
    width: 78px;
    height: 67px;
    left: 30px;
    top: 0px;
  }
  .head-low {
    background-color: #009ee4;
    height: 183px;
    margin-top: -53px;
    padding: 22px 10px;
  }
  .head-low-figures {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .head-pre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: 48px;
         column-gap: 48px;
    row-gap: 15px;
  }
  .big {
    background: #fff7c7 url(../image/big-mob_bg.png);
    background-repeat: no-repeat;
    background-position: center 300px;
    padding-top: 45px;
    background-size: contain;
  }
  .heading {
    font-size: 32px;
    line-height: 34px;
  }
  .heading-top {
    margin-bottom: 50px;
  }
  .heading-big-text {
    font-size: 22px;
    line-height: 24px;
    margin-top: 9px;
    max-width: 298px;
  }
  .top-game {
    background: none;
    top: 220px;
    left: 232px;
    position: absolute;
  }
  .level {
    flex-direction: column-reverse;
    padding-bottom: 44px;
    gap: 16px;
  }
  .hero {
    border-radius: 4px;
    max-width: 294px;
    margin: 0 auto;
  }
  .level-text {
    max-width: 299px;
  }
  .heading-level {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }
  .level-description {
    font-size: 18px;
    line-height: 24px;
  }
  .level-add {
    justify-content: flex-end;
    flex-direction: column;
  }
  .level-spaceman {
    padding-bottom: 35px;
  }
  .heading-boy {
    line-height: 70px;
  }
  .learning-block {
    flex-direction: column-reverse;
  }
  .remark {
    background: url(../image/remark-mob.png);
    background-repeat: no-repeat;
    width: 127px;
    height: 40px;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.02px;
    padding-top: 10px;
    left: 165px;
    top: 10px;
  }
  .learning-list {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .learning-li {
    height: 14px;
    width: 14px;
    line-height: 14px;
    top: -2px;
    left: -7px;
    color: #ffffff;
  }
  .learning-list-desc {
    display: none;
  }
  .learning-list-mob {
    display: block;
  }
  .why {
    padding-bottom: 46px;
  }
  .why-heading {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 28px;
  }
  .why-row {
    flex-direction: column;
  }
  .playing {
    padding-top: 41px;
    padding-bottom: 52px;
  }
  .playing-heading {
    margin-bottom: 2px;
  }
  .playing-group {
    flex-direction: column;
    gap: 5px;
  }
  .playing-flex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "playing-heading" "playing-text" "images";
  }
  .playing-heading-child {
    padding-top: 18px;
    padding-bottom: 40px;
  }
  .playing-text {
    max-width: 382px;
  }
  .green-boy {
    top: 0px;
    left: 100px;
  }
  .purple-boy {
    z-index: 1;
    left: -15px;
    top: 25px;
  }
  .red-girl {
    top: 50px;
    left: 70px;
  }
  .green-girl {
    top: 30px;
    left: 220px;
  }
  .heading-teach {
    margin-top: 35px;
  }
  .teach-blocks {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .laptop {
    position: absolute;
    left: 100px;
    top: 200px;
  }
  .teach3 {
    z-index: 3;
  }
  .heading-how {
    margin-bottom: 30px;
  }
  .how-str {
    margin-bottom: 32px;
    -moz-column-gap: 39px;
         column-gap: 39px;
  }
  .how-heading {
    font-size: 18px;
    width: 109px;
  }
  .how-time {
    font-size: 18px;
    line-height: 17px;
    width: 140px;
  }
  .how-often {
    font-size: 14px;
    line-height: 15px;
  }
  .how-description {
    font-size: 14px;
    line-height: 18px;
    width: 294px;
  }
  .how-graduation {
    font-size: 14px;
    line-height: 18px;
    max-width: 294px;
  }
  .how-graduation span {
    color: #000000;
  }
  .smile {
    left: 20px;
  }
  .rocket {
    right: 20px;
    left: initial;
    bottom: -40px;
  }
  .pay {
    padding-top: 38px;
    padding-bottom: 31px;
  }
  .heading-pay {
    margin-bottom: 26px;
    max-width: 298px;
  }
  .pricler {
    gap: 17px;
    flex-direction: column;
    align-items: center;
  }
  .pay-block {
    width: 298px;
    height: 219px;
    display: flex;
    flex-direction: column;
    padding: 21px 18px;
    row-gap: 7px;
  }
  .pay-text {
    line-height: 28px;
    letter-spacing: 0.2px;
  }
  .pay-pay {
    font-size: 18px;
    line-height: 28px;
  }
  .till {
    font-size: 24px;
    line-height: 28px;
  }
  .paid-delay {
    font-size: 14px;
  }
  .rest {
    padding-top: 28px;
    background: #fff7c7;
  }
  .rest-frame {
    background: #00c1ff;
    width: 300px;
    padding: 19px 17px 6px 18px;
    flex-direction: column;
    margin: 0 auto;
  }
  .learning-list-rest {
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .man-footer {
    display: none;
  }
  .form-item {
    width: 265px;
    height: 36px;
    border-radius: 5px;
    padding: 7px 20px 8px 11px;
    font-size: 16px;
    line-height: 21px;
  }
  .form-item::-moz-placeholder {
    font-size: 16px;
    line-height: 21px;
  }
  .form-item::placeholder {
    font-size: 16px;
    line-height: 21px;
  }
  .form-item-top {
    width: 127px;
  }
  .select select {
    width: 265px;
    height: 36px;
    padding-left: 11px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 21px;
    border-radius: 5px;
  }
  .select::after {
    margin-top: -3px;
  }
  .order {
    width: 264px;
    height: 39px;
    background-color: #ff64b0;
  }
  .footer {
    padding-top: 31px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-text {
    align-items: flex-start;
    row-gap: 3px;
  }
  .logo-mob {
    width: 141px;
  }
  .palm {
    display: none;
  }
  .hand-footer,
  .copyright {
    font-size: 9px;
    line-height: 9px;
  }
  .attractive {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */